<?xml version="1.0"?>
<launch>
  <!-- Required: IP address of the mote robot -->
  <arg name="robot_ip"/>

  <!-- Mote base: hardware interface, diff_drive_controller, sensor TFs -->
  <include file="$(find mote_base)/launch/mote.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
  </include>

  <!-- Foxglove visualization -->
  <include file="$(find mote_viz)/launch/viz.launch"/>
</launch>
